.container{
  /*font-family: 'Supermercado One', cursive;*/
  font-family: 'Overpass', sans-serif;
  font-size: 1.5em;
}
.jumbotron{
  background-color: #660000;
  color: white;
  margin-top: 0.5em;
  text-align: center;
}
.jumbotron h1{
  font-size: 2.5em;
}
.direction-msg{
  display: none;
}
.alert-msg{
  display: none;
}
#start{
  display: none;
}
#quiz-box{
  display: none;
}
#scoreDisplay{
  display: none;
}
.card-header{
  background-color: #660000;
  border: 1px solid gray;
  padding: 1em;
  color: white;
}
.card-footer{
  background-color: #660000;
  border: 1px solid gray;
  padding: 1em;
  color: white;
}
h2{
  text-align: center;
}
#scoreDisplay{
  text-align: center;
  font-size: 2em;
}
