.container{
  /*font-family: 'Supermercado One', cursive;*/
  font-family: 'Overpass', sans-serif;
  font-size: 1.5em;
}
.jumbotron{
  background-color: #660000;
  color: #daa520;
  margin-top: 0.5em;
  text-align: center;
}
.jumbotron h1{
  font-size: 2.5em;
}
#icon{
  float: left;
  padding: 0.2em;
}
.direction-msg{
  display: none;
}
.alert-msg{
  display: none;
}
#start{
  display: none;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding: 1em 3em 1em 3em;
  font-size: 1em;
}
#quiz-box{
  display: none;
}
#scoreDisplay{
  display: none;
  text-align: center;
  font-size: 1.5em;
}
.card-header{
  background-color: #660000;
  border: 1px solid gray;
  padding: 1em;
  color: #daa520;
}
.card-body{
  padding: 1.5em;
}
.card-body h3{
  background-color: #daa520;
  font-size: 2em;
  padding: 0.2em;
}
.card-footer{
  background-color: #660000;
  border: 1px solid gray;
  padding: 1em;
  color: #daa520;
}
#quiz-box h2{
  text-align: center;
}
.btn{
  padding: 0.6em 2em 0.6em 2em;
}
.btn-outline-primary{
  color: #660000;
  border-color: #660000;
}
.btn-outline-primary:hover{
  background-color: #660000;
  color: #daa520;
  border-color: #660000;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem #660000;
}
.btn-primary{
  color: #660000;
  background-color: #daa520;
  border-color: #660000;
}
.btn-primary:hover{
  color: #660000;
  background-color: #daa520;
  border-color: #660000;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #daa520;
}
#results{
  font-family: 'Supermercado One', cursive;
  color: #660000;
}
.commentClick{
  text-decoration: underline;
}
.commentClick:hover{
  cursor: pointer;
}
#remark{
  display: none;
  font-family: 'Supermercado One', cursive;
  color: #660000;
  font-size: 1.5em;
}
